
/* Estilos base */
body {
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, 
        #F0F8FF 0%, 
        #FFD1DC 20%, 
        #E6F3FF 40%, 
        #FFF0F5 60%, 
        #F0F8FF 80%, 
        #FFD1DC 100%
    );
    background-attachment: fixed;
    min-height: 100vh;;
    color: #4A2C2A;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #4A2C2A;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }

/* Navbar */
.navbar {
    background-color: #FFD1DC; /* Color rosa pastel */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra los elementos del menú horizontalmente */
    padding: 40px;
    position: fixed; /* Hace que la barra sea fija */
    top: 0; /* Fija la barra en la parte superior de la página */
    left: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
}
/* Clase que se aplicará cuando el usuario haga scroll */
.navbar.scroll-active {
    background-color: rgba(255, 209, 220, 0.7); /* Hace el fondo rosa pastel semi-transparente */
    backdrop-filter: blur(2px); /* Aplica un ligero desenfoque */
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.navbar li {
    margin: 0 1rem;
}
.navbar a {
    text-decoration: none;
    color: #4A2C2A;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: #FFFFFF;

}
/* Ajuste del logo */
.logo-item {
    position: absolute;
    left: 0px; /* Mueve el logo hacia la izquierda */
    top: 0; /* Asegura que el logo se mantenga dentro de la zona rosada */
    height: 100%; /* Hace que el logo ocupe el 100% de la altura del navbar */
    display: flex;
    align-items: center; /* Centra verticalmente el logo dentro del navbar */
}
.logo {
    height: 20ch; /* Ajusta el tamaño del logo */
    width: auto; /* Mantén la proporción del logo */
}


.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #F0F8FF, #FFD1DC, #E6F3FF, #FFF0F5, #F0F8FF, #FFD1DC);
    background-size: 600% 600%;
    animation: gradientBG 15s ease infinite;
}

.content {
    text-align: center;
    z-index: 10;
    padding: 2rem;
    border-radius: 10px;
}

#header h1 {
    font-size: 3rem;
    color: #4A2C2A;
    margin-bottom: 1rem;
}

#header p {
    font-size: 1.2rem;
    color: #4A2C2A;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    animation: pulse 4s infinite ease-in-out;
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
}


/* Main content */
main {
    max-width: 100%; /* Hacemos que ocupe todo el ancho */
    margin: 0 auto;
    padding: 0; /* Eliminamos el padding */
}

/* Sections */
section {
    text-align: center;
    padding: 4rem 2rem;
    /* Eliminamos el borde y la sombra */
}

/* Contenedor para limitar el ancho del contenido dentro de las secciones */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Services */
.services-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.services-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    color: #4A2C2A;
    margin-bottom: 2rem;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}

.service-card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.5rem;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #4A2C2A;
}

.service-name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #4A2C2A;
}

.service-description {
    font-size: 0.9rem;
    color: #6B4F4F;
    margin-bottom: 1rem;
}

.learn-more-button {
    background-color: #C5E0B4;
    color: #4A2C2A;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.learn-more-button:hover {
    background-color: #A8D8A8;
}

/** Galería de imágenes ***/
.catalog-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center; /* Centra todo el contenido del contenedor */
}
.catalog-section h2 {
    text-align: center; /* Centra el texto del título */
    margin: 0 auto;
}
.category {
    background-color: #FFD1DC;
    border-radius: 25px;
    padding: 1rem 2rem;
    display: inline-block;
    margin: 2rem 0 1rem 0; 
    font-weight: bold;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2.5rem;
}
.product-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    
    transition: transform 0.3s ease-out;
}
.product-card:hover {
    transform: translateY(-5px);
}
.product-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.product-info {
    padding: 1rem;
    text-align: center;
}
.product-name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.product-price {
    font-weight: bold;
    color: #4A2C2A;
    margin: 0.5rem 0;
}
.product-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.order-button {
    background-color: #C5E0B4;
    color: #4A2C2A;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.order-button:hover {
    background-color: #A8D8A8;
}


/* Estilos para testimonios */
#testimonios {
    padding: 4rem 2rem;
}
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.testimonial {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-out;
}
.testimonial:hover {
    transform: perspective(1000px) rotateY(5deg);
}
.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.testimonial-name {
    font-weight: bold;
    margin: 0;
}
.testimonial-title {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}
.testimonial-text {
    font-size: 0.95em;
    line-height: 1.5;
}
/* Estilos específicos para cada testimonio */
.testimonial:nth-child(1) {
    grid-column: span 2;
    background-color: #FFD1DC; /* Rosa pastel */
    color: #4A2C2A;
}
.testimonial:nth-child(2) {
    grid-row: span 2;
}
.testimonial:nth-child(5) {
    grid-column: span 2;
    background-color: rgba(#FFD1DC); /* Rosa pastel transparente */
    color: #4A2C2A;
}

/* Estilos de los formularios */
.forms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}
.form-wrapper {
    flex: 1 1 400px;
    max-width: 500px;
    background-color: rgba(255, 209, 220, 0.3); /* Rosa pastel semi-transparente */
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #4A2C2A;
}
.form-icon {
    text-align: left;
}
.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #FFD1DC; /* Borde rosa pastel */
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
}
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    border-color: #4A2C2A;
}
.submit-btn {
    align-self: flex-start;
    background-color: #FFD1DC;
    color: #4A2C2A;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color: #FFC0CB;
}


/*
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.alert-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.alert-success .alert-icon {
    background-color: #C5E0B4;
    color: #4A2C2A;
}

.alert-error .alert-icon {
    background-color: #FFD1DC;
    color: #4A2C2A;
}

.alert-title {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #4A2C2A;
    margin-bottom: 10px;
}

.alert-message {
    font-size: 16px;
    color: #6B4F4F;
    margin-bottom: 20px;
}

.alert-button {
    background-color: #FFD1DC;
    color: #4A2C2A;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alert-button:hover {
    background-color: #FFC0CB;
}
*/

/* Footer */
footer {
    background-color: #4A2C2A; /* Color chocolate */
    color: #FFFFFF;
    padding: 2rem;
    text-align: center;
}
#footer-logo
{
    height: 10rem;
    width: 10rem;
}
.social-links a {
    color: #FFD1DC; /* Enlaces en rosa pastel */
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
.social-links a:hover {
    color: #FFFFFF;
}

/** social link**/
.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}
.footer a:hover {
    color: #ddd;
}

.link-privacidad {
color: white;
}

/* Responsive design */
@media (max-width: 768px) {
    .services,
    .image-gallery {
        grid-template-columns: 1fr;
    }
    
    .testimonials-grid {
        grid-template-columns: 1fr;
    }

    .testimonial:nth-child(1),
    .testimonial:nth-child(2),
    .testimonial:nth-child(5) {
        grid-column: auto;
        grid-row: auto;
    }
}

/** Animaciones **/
@keyframes pulse {
    0%, 100% { transform: scale(0.8); opacity: 0.5; }
    50% { transform: scale(1.2); opacity: 0.8; }
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}